{% extends "base.html" %}
{% block content %}
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Direction Mock </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users/profile">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Log Out</a>
      </li>

    </ul>

  </div>
</nav>

<div class="container login-form">
    {{ name }}
    <ul>
        {% for questions in papers %}
        <li>
            <a href="/exams/get_exam/{{questions._id}}"> {{ questions.subject }} &nbsp {{ questions.course}} </a>
        </li>
        {% endfor %}
    </ul>
</div>


</body>
</html>

{% endblock %}