{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Direction Mock </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/staffs/register">Register</a>
      </li>
    </ul>

  </div>
</nav>

{% if error|length > 0 %}
<label> {{ error }}</label>
{% endif %}
<div class="container login-form">
    <form id="login-form" action='/users/login' method="post">
        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" id="phone" name="phone">
        </div>

        <button type="submit" class="btn btn-primary">Sign in </button>
        <br><br><br><br><br>

    </form>
    <a class="nav-link" href="/staffs/login"><button type="submit" class="btn btn-primary"> Staff Login <span class="sr-only">(current)</span></button></a>
</div>


{% endblock %}}