{% extends "base.html" %}
{% block content %}

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Direction Mock </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/staffs/profile">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/staffs/profile">My Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/staffs/organise_test">Tests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/staffs/logout">Log Out</a>
      </li>

    </ul>

  </div>
</nav>



<div class="container login-form">
        <label> Name  : {{ student.name }}</label><hr>
        <label> Phone : {{ student.phone }}</label><hr>
        <label> Course: {{ student.course }}</label><hr>
        <label> Status: {{ student.status }}</label><hr>

    <form action="/staffs/edit_student/{{student.phone}}" method="post">
        <div class="form-group">
            <label><b>Status Update</b></label>
            <input type="text" class="form-control" id="status" name="status">
        </div>
        <button type="submit" class="btn btn-primary">Update  </button>

    </form></div>


</body>
</html>

{% endblock %}